/* add css styles here (optional) */

.Polaroid_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.Polaroid_image {
  margin: 1rem;
  margin-top: 2rem;
}
